.signin-block {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.signin-block__switch {
    position: absolute;
    left: -12%;
    top: 0;
    width: 112%;
    height: 100%;
    background: rgb(240, 245, 255);
    background-image:  url('/images/switch.jpg');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    border-radius: 30px;
    z-index: 2;
}

.signin-block__switch.switch{
    animation: toleft .5s forwards;
}

.signin-block__switch.back{
    animation: backright .5s forwards;
}

.signin-block__content {
    position: relative;
    width: 88%;
    height: 100%;
    padding: 0 50px;
    margin-left: 22%;
    z-index: 1;
}
.signin-block__content .note-authen {
    bottom: 0;
}

.signin-block__head {
    margin-top: 50px;
}

@keyframes toleft {
    0%   { left: -12%; }
    100% { left:-100%; }
}

@keyframes backright {
    0%   { left: -100%; }
    100% { left:-12%; }
}