.container {
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1240px;
  }
}

.main {
  display: flex;
  width: 90%;
  height: 600px;
  background-color: white;
  border: none;
  border-radius: 30px;
  padding: 0;
  margin: 0 5%;
}
